@page "/TableComponentExemple"

<h3>TableComponent Exemple</h3>

<TableComponent T="Truc"
                CustomItems="CustomList"
                GetFilterableText=@(item => $"{item.Name} {item.Nombre}")
                @ref="ChildComponentTruc">
    <TableHeader>
        <th><button class="btn btn-light" @onclick="@(() => ChildComponentTruc.Sort(nameof(Truc.Name)))"><b>Name</b></button></th>
        <th><button class="btn btn-light" @onclick="@(() => ChildComponentTruc.Sort(nameof(Truc.Nombre)))"><b>Nombre</b></button></th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Name</td>
        <td>@context.Nombre</td>
    </RowTemplate>
</TableComponent>