@page "/TestImage"

@if (!string.IsNullOrEmpty(Error))
{
    <div class="row">
        <div class="col-4">
            <div class="alert-danger">
                @Error
            </div>
        </div>
    </div>
}

<br />
<br />

<div class="row">
    
    <div class="col-6">
        <h3>Drag and drop file</h3>
        <br/>
        <DropZone OnUploadFile="OnUploadFileAsync"></DropZone>
        <br/>
        <img src="@Fichier.DataString" height="250"/>
        <button class="btn btn-info" @onclick="@(()=>LoadPictureAsync(Id))">Get Picture</button>
        <a href="@Fichier.DataString" download class="btn btn-info">Download</a>
    </div>

</div>

