@inherits BlazorMongoTemplateApp.Component.Modal.Called.ModalComponentCalled

<div class="simple-form">
    
    <button @onclick="Submit" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>