@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<div @ref="dropZoneFile" class="drop-zone">
    <p>Drop a file or paste an image from the clipboard or select a file using the input</p>
    <InputFile OnChange="@UploadFile" @ref="inputFile"/>
</div>
