<th><button class="btn btn-light" @onclick="Sort">@Value</button></th>

@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string SortBy { get; set; }

    [Parameter]
    public EventCallback<string> OnSort {get; set;}

    private async Task Sort()
    {
        await OnSort.InvokeAsync(SortBy); 
    }

}
