@typeparam T

@if (SearchOn != null)
{
    <CascadingValue Value="this">
        <Search T="T"></Search>
    </CascadingValue>
}

<table class="table table-hover table-sm">
    <thead>
        <tr>@THead</tr>
    </thead>
    <tbody>
        @foreach (var item in DisplayItems)
        {
            <tr>
                @TBody(item)
            </tr>
        }
    </tbody>
</table>

@if (WithPagination)
{
    <CascadingValue Value="this">
        <Pagination T="T" @ref="PaginationComponent"></Pagination>
    </CascadingValue>
}