<div class="tooltip-wrapper">
    <div class="tooltipFab">
        <ul>
            @if (Text.Count() != 0)
            {
                @foreach (var txt in Text)
                {
                    <li>
                        @txt
                    </li>
                }
            }
        </ul>
    </div>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public IEnumerable<string> Text { get; set; }  

}